{% extends "layout.html" %}

{% block title %}Мои заявки{% endblock %}

{% block extra_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_client.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_header.css') }}">
{% endblock %}

{% block extra_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/script_client.js') }}"></script>
{% endblock %}

{% block page_content %}
<h1 class="page-content__title">Заявки</h1>

<div class="page-content__body">
    <!-- Фильтры -->
    <div class="filters">
        <div class="filters__search">
            <img src="{{ url_for('static', filename='images/search-normal.png') }}" alt="" class="filters__search-icon">
            <input type="text" class="filters__search-input" placeholder="Search for ticket" />
        </div>

        <div class="filters__priority">
            <button class="filters__priority-btn">
            Выбрать заявки
                <span>                    
                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L5 5L9 1" stroke="#0C0407" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
            </button>
            <div class="filters__priority-dropdown">
            <div class="filters__priority-option" data-priority="all">
                Все заявки
            </div>
            <div class="filters__priority-option" data-priority="new">
                На диагностике
            </div>
            <div class="filters__priority-option" data-priority="ongoing">
                Диагностика завершена
            </div>
            <div class="filters__priority-option" data-priority="resolved">
                Готов к выдаче
            </div>
            <div class="filters__priority-option" data-priority="resolved">
                Завершено
            </div>
            <div class="filters__priority-option" data-priority="resolved">
                Отменено
            </div>
            </div>
        </div>

        <!-- <div class="filters__time">
            На этой неделе
            <span>                    
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L5 5L9 1" stroke="#0C0407" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
        </div> -->
    </div>

    <!-- Вкладки -->
    <div class="tabs">
    <div class="tabs__item tabs__item--active" data-tab="all">
        Все заявки
    </div>
    <div class="tabs__item" data-tab="new">
        На диагностике
    </div>
    <div class="tabs__item" data-tab="ongoing">
        Диагностика завершена
    </div>
    <div class="tabs__item" data-tab="resolved">
        Готов к выдаче
    </div>
    <div class="tabs__item" data-tab="resolved">
        Завершено
    </div>
    <div class="tabs__item" data-tab="resolved">
        Отменено
    </div>
    </div>

    <div class="ticket-list">
        {% for task in tasks %}
            {% if task.status == "На диагностике" %}
                {% include "client/tickets/diagnosing.html" %}
            {% elif task.status == "Диагностика завершена" %}
                {% include "client/tickets/awaiting_decision.html" %}
            {% elif task.status == "В ремонте" %}
                {% include "client/tickets/in_repair.html" %}
            {% elif task.status == "Готов к выдаче" %}
                {% include "client/tickets/ready_for_pickup.html" %}
            {% elif task.status == "Завершено" %}
                {% include "client/tickets/completed.html" %}
            {% elif task.status == "Отменено" %}
                {% include "client/tickets/cancelled.html" %}
            {% else %}
                <div class="ticket">
                    <p>НЕТ ШАБЛОНА ДЛЯ СТАТУСА: {{ task.status }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Пагинация -->
    <div class="pagination">
    <button class="pagination__button pagination__button--disabled" id="prevBtn">Previous</button>
    <button class="pagination__button pagination__button--active" data-page="1">1</button>
    <button class="pagination__button" data-page="2">2</button>
    <button class="pagination__button" id="nextBtn">Next</button>
    </div>
</div>
{% endblock %}
