<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Сервис СОФТ</title>
    <link rel="stylesheet" href="style_provider.css">
    <link rel="stylesheet" href="style_header.css">

</head>
<body>
    <div class="modal" id="createClientModal" style="display: none;">
        <div class="modal__overlay" id="modalOverlay"></div>
            <div class="modal__content">
            <div class="modal__header">
            <h3>Создание нового клиента</h3>
            <button class="modal__close" id="closeModalBtn">&times;</button>
            </div>
            <form id="createClientForm" class="modal__form">
            <div class="form-group">
                <label>Клиент *</label>
                <input type="text" name="client" required />
            </div>
            <div class="form-group">
                <label>Группа</label>
                <select name="group">
                <option value="Клиенты">Клиенты</option>
                <option value="Партнёры">Партнёры</option>
                <option value="Поставщики">Поставщики</option>
                </select>
            </div>
            <div class="form-group">
                <label>Моб. телефон</label>
                <input type="tel" name="mobile" />
            </div>
            <div class="form-group">
                <label>Телефон</label>
                <input type="tel" name="phone" />
            </div>
            <div class="form-group">
                <label>Адрес</label>
                <textarea name="address" rows="2"></textarea>
            </div>
            <div class="form-group">
                <label>Контактное лицо</label>
                <input type="text" name="contact" />
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input type="email" name="email" />
            </div>
            <div class="form-group">
                <label>Доп. информация</label>
                <textarea name="info" rows="2"></textarea>
            </div>

            <!-- Флаги -->
            <div class="form-group form-group--flags">
                <label class="checkbox-label">
                <input type="checkbox" name="allow_cabinet" />
                Разрешить доступ к личному кабинету
                </label>
                <label class="checkbox-label">
                <input type="checkbox" name="is_active" checked />
                Активен
                </label>
            </div>

            <div class="modal__actions">
                <button type="button" class="btn btn--outline" id="cancelClientBtn">Отмена</button>
                <button type="submit" class="btn btn--primary">Создать клиента</button>
            </div>
            </form>
        </div>
    </div>
  <div class="layout">
    <!-- Сайдбар -->
    <aside class="sidebar">
      <div class="sidebar__header">Сервис СОФТ</div>
      <nav class="sidebar__nav">
        <div class="sidebar__nav-item sidebar__nav-item--active">
          <span class="sidebar__nav-text">Клиенты</span>
        </div>
        <div class="sidebar__nav-item ">
          <span class="sidebar__nav-text"><a style='text-decoration: none;' href="./index_provider_orders.html">Заявки</a></span>
        </div>
        <div class="sidebar__nav-item">
          <span class="sidebar__nav-text"><a style='text-decoration: none;' href="./index_provider_masters.html">Мастера</a></span>
        </div>
      </nav>
    </aside>

    <!-- Основное содержимое -->
    <main class="main-content">
      <!-- Шапка -->
      <header class="header">
        <div class="header__menu">
            <button class="header__menu-toggle"><img src="images/burger-button.svg" alt="" class="align-left"></button>
            <div class="header__welcome">Добро пожаловать! <span>Приемщик</span></div>
        </div>
        <div class="header__user">
          <div class="header__notifications">
            <img src="images/notification.svg" alt="" class="header__notification-icon">
          </div>
            <div class="header__user-main" id="userDropdownToggle">
                <div class="header__avatar">
                <img src="images/Profile.svg" alt="Профиль" class="header__avatar-icon">
                </div>
                <div class="header__username">Приемщик</div>
                <span class="header__dropdown-icon">
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L5 5L9 1" stroke="#0C0407" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </span>
                <!-- Выпадающее меню -->
                <div class="header__user-dropdown" id="userDropdown">
                    <a href="#" class="header__dropdown-item">Настройки</a>
                    <a href="#" class="header__dropdown-item header__dropdown-item--danger">Выход</a>
                </div>
            </div>
        </div>
      </header>

      <!-- Основной контент страницы -->
      <div class="page-content">
        <h1 class="page-content__title">Клиенты</h1>

        <div class="page-content__body">
            <!-- Фильтры -->
            <div class="filters">
                <div class="filters__search">
                    <img src="images/search-normal.png" alt="" class="filters__search-icon">
                    <input type="text" class="filters__search-input" placeholder="Search for ticket" />
                </div>

                <!-- <div class="filters__priority">
                    <button class="filters__priority-btn">
                    Выбрать клиентов
                        <span>                    
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L5 5L9 1" stroke="#0C0407" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                    </button>
                    <div class="filters__priority-dropdown">
                    <div class="filters__priority-option" data-priority="all">
                        Все заявки
                    </div>
                    <div class="filters__priority-option" data-priority="new">
                        Новые заявки
                    </div>
                    <div class="filters__priority-option" data-priority="ongoing">
                        Заявки в обработке
                    </div>
                    <div class="filters__priority-option" data-priority="resolved">
                        Выполненные заявки
                    </div>
                    </div>
                </div> -->

                <!-- <div class="filters__time">
                    На этой неделе
                    <span>                    
                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L9 1" stroke="#0C0407" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </div> -->

                <button class="filters__new-client filters__new-ticket">
                    Добавить клиента
                </button>
            </div>

            <!-- Вкладки -->
            <!-- <div class="tabs">
            <div class="tabs__item tabs__item--active" data-tab="all">
                Все заявки
            </div>
            <div class="tabs__item" data-tab="new">
                Новые
            </div>
            <div class="tabs__item" data-tab="ongoing">
                В процессе выполнения
            </div>
            <div class="tabs__item" data-tab="resolved">
                Завершенные
            </div>
            </div> -->

            <!-- Таблица -->
            <div class="ticket-list">
                <div class="table-container">
                <table class="clients-table">
                    <thead>
                    <tr>
                        <th>Клиент</th>
                        <th>Группа</th>
                        <th>Моб.телефон</th>
                        <th>Телефон</th>
                        <th>Адрес</th>
                        <th>Контактное лицо</th>
                        <th>E-mail</th>
                        <th>Доп.информация</th>
                        <th>Автор записи</th>
                        <th>Изменил запись</th>
                        <th>Дата и время записи</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-field="client">Иванов Иван Иванович</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">+7 XXX XXX-XX-XX</td>
                        <td data-field="phone">(1) 1-11-111</td>
                        <td data-field="address">n/a</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">SSS@SSS.SS</td>
                        <td data-field="info">-</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">10.10.2012 23:00:06</td>
                    </tr>
                    <tr>
                        <td data-field="client">Петров П.П.</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">-</td>
                        <td data-field="phone">111-22-2333</td>
                        <td data-field="address">г.Москва, ул. Ленина, д. 10</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">-</td>
                        <td data-field="info">Постоянный клиент</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">28.04.2010 10:27:13</td>
                    </tr>
                    <tr>
                        <td data-field="client">Сидоров</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">-</td>
                        <td data-field="phone">-</td>
                        <td data-field="address">-</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">-</td>
                        <td data-field="info">-</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">10.09.2016 23:43:47</td>
                    </tr>
                    <tr>
                        <td data-field="client">Кузнецов А.В.</td>
                        <td data-field="group">Партнёры</td>
                        <td data-field="mobile">+7 999 888-77-66</td>
                        <td data-field="phone">8 (495) 123-45-67</td>
                        <td data-field="address">г. Санкт-Петербург, Невский пр., 1</td>
                        <td data-field="contact">Анна</td>
                        <td data-field="email">kuznetsov@example.com</td>
                        <td data-field="info">Требует срочного ответа</td>
                        <td data-field="author">Менеджер</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">25.10.2025 14:30:22</td>
                    </tr>
                    <tr>
                        <td data-field="client">Иванов Иван Иванович</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">+7 XXX XXX-XX-XX</td>
                        <td data-field="phone">(1) 1-11-111</td>
                        <td data-field="address">n/a</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">SSS@SSS.SS</td>
                        <td data-field="info">-</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">10.10.2012 23:00:06</td>
                    </tr>
                    <tr>
                        <td data-field="client">Петров П.П.</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">-</td>
                        <td data-field="phone">111-22-2333</td>
                        <td data-field="address">г.Москва, ул. Ленина, д. 10</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">-</td>
                        <td data-field="info">Постоянный клиент</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">28.04.2010 10:27:13</td>
                    </tr>
                    <tr>
                        <td data-field="client">Сидоров</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">-</td>
                        <td data-field="phone">-</td>
                        <td data-field="address">-</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">-</td>
                        <td data-field="info">-</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">10.09.2016 23:43:47</td>
                    </tr>
                    <tr>
                        <td data-field="client">Кузнецов А.В.</td>
                        <td data-field="group">Партнёры</td>
                        <td data-field="mobile">+7 999 888-77-66</td>
                        <td data-field="phone">8 (495) 123-45-67</td>
                        <td data-field="address">г. Санкт-Петербург, Невский пр., 1</td>
                        <td data-field="contact">Анна</td>
                        <td data-field="email">kuznetsov@example.com</td>
                        <td data-field="info">Требует срочного ответа</td>
                        <td data-field="author">Менеджер</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">25.10.2025 14:30:22</td>
                    </tr>
                    <tr>
                        <td data-field="client">Иванов Иван Иванович</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">+7 XXX XXX-XX-XX</td>
                        <td data-field="phone">(1) 1-11-111</td>
                        <td data-field="address">n/a</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">SSS@SSS.SS</td>
                        <td data-field="info">-</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">10.10.2012 23:00:06</td>
                    </tr>
                    <tr>
                        <td data-field="client">Петров П.П.</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">-</td>
                        <td data-field="phone">111-22-2333</td>
                        <td data-field="address">г.Москва, ул. Ленина, д. 10</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">-</td>
                        <td data-field="info">Постоянный клиент</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">28.04.2010 10:27:13</td>
                    </tr>
                    <tr>
                        <td data-field="client">Сидоров</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">-</td>
                        <td data-field="phone">-</td>
                        <td data-field="address">-</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">-</td>
                        <td data-field="info">-</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">10.09.2016 23:43:47</td>
                    </tr>
                    <tr>
                        <td data-field="client">Кузнецов А.В.</td>
                        <td data-field="group">Партнёры</td>
                        <td data-field="mobile">+7 999 888-77-66</td>
                        <td data-field="phone">8 (495) 123-45-67</td>
                        <td data-field="address">г. Санкт-Петербург, Невский пр., 1</td>
                        <td data-field="contact">Анна</td>
                        <td data-field="email">kuznetsov@example.com</td>
                        <td data-field="info">Требует срочного ответа</td>
                        <td data-field="author">Менеджер</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">25.10.2025 14:30:22</td>
                    </tr>
                    <tr>
                        <td data-field="client">Иванов Иван Иванович</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">+7 XXX XXX-XX-XX</td>
                        <td data-field="phone">(1) 1-11-111</td>
                        <td data-field="address">n/a</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">SSS@SSS.SS</td>
                        <td data-field="info">-</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">10.10.2012 23:00:06</td>
                    </tr>
                    <tr>
                        <td data-field="client">Петров П.П.</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">-</td>
                        <td data-field="phone">111-22-2333</td>
                        <td data-field="address">г.Москва, ул. Ленина, д. 10</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">-</td>
                        <td data-field="info">Постоянный клиент</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">28.04.2010 10:27:13</td>
                    </tr>
                    <tr>
                        <td data-field="client">Сидоров</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">-</td>
                        <td data-field="phone">-</td>
                        <td data-field="address">-</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">-</td>
                        <td data-field="info">-</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">10.09.2016 23:43:47</td>
                    </tr>
                    <tr>
                        <td data-field="client">Кузнецов А.В.</td>
                        <td data-field="group">Партнёры</td>
                        <td data-field="mobile">+7 999 888-77-66</td>
                        <td data-field="phone">8 (495) 123-45-67</td>
                        <td data-field="address">г. Санкт-Петербург, Невский пр., 1</td>
                        <td data-field="contact">Анна</td>
                        <td data-field="email">kuznetsov@example.com</td>
                        <td data-field="info">Требует срочного ответа</td>
                        <td data-field="author">Менеджер</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">25.10.2025 14:30:22</td>
                    </tr>
                    <tr>
                        <td data-field="client">Иванов Иван Иванович</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">+7 XXX XXX-XX-XX</td>
                        <td data-field="phone">(1) 1-11-111</td>
                        <td data-field="address">n/a</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">SSS@SSS.SS</td>
                        <td data-field="info">-</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">10.10.2012 23:00:06</td>
                    </tr>
                    <tr>
                        <td data-field="client">Петров П.П.</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">-</td>
                        <td data-field="phone">111-22-2333</td>
                        <td data-field="address">г.Москва, ул. Ленина, д. 10</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">-</td>
                        <td data-field="info">Постоянный клиент</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">28.04.2010 10:27:13</td>
                    </tr>
                    <tr>
                        <td data-field="client">Сидоров</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">-</td>
                        <td data-field="phone">-</td>
                        <td data-field="address">-</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">-</td>
                        <td data-field="info">-</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">10.09.2016 23:43:47</td>
                    </tr>
                    <tr>
                        <td data-field="client">Кузнецов А.В.</td>
                        <td data-field="group">Партнёры</td>
                        <td data-field="mobile">+7 999 888-77-66</td>
                        <td data-field="phone">8 (495) 123-45-67</td>
                        <td data-field="address">г. Санкт-Петербург, Невский пр., 1</td>
                        <td data-field="contact">Анна</td>
                        <td data-field="email">kuznetsov@example.com</td>
                        <td data-field="info">Требует срочного ответа</td>
                        <td data-field="author">Менеджер</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">25.10.2025 14:30:22</td>
                    </tr>
                    <tr>
                        <td data-field="client">Иванов Иван Иванович</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">+7 XXX XXX-XX-XX</td>
                        <td data-field="phone">(1) 1-11-111</td>
                        <td data-field="address">n/a</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">SSS@SSS.SS</td>
                        <td data-field="info">-</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">10.10.2012 23:00:06</td>
                    </tr>
                    <tr>
                        <td data-field="client">Петров П.П.</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">-</td>
                        <td data-field="phone">111-22-2333</td>
                        <td data-field="address">г.Москва, ул. Ленина, д. 10</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">-</td>
                        <td data-field="info">Постоянный клиент</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">28.04.2010 10:27:13</td>
                    </tr>
                    <tr>
                        <td data-field="client">Сидоров</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">-</td>
                        <td data-field="phone">-</td>
                        <td data-field="address">-</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">-</td>
                        <td data-field="info">-</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">10.09.2016 23:43:47</td>
                    </tr>
                    <tr>
                        <td data-field="client">Кузнецов А.В.</td>
                        <td data-field="group">Партнёры</td>
                        <td data-field="mobile">+7 999 888-77-66</td>
                        <td data-field="phone">8 (495) 123-45-67</td>
                        <td data-field="address">г. Санкт-Петербург, Невский пр., 1</td>
                        <td data-field="contact">Анна</td>
                        <td data-field="email">kuznetsov@example.com</td>
                        <td data-field="info">Требует срочного ответа</td>
                        <td data-field="author">Менеджер</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">25.10.2025 14:30:22</td>
                    </tr>
                    <tr>
                        <td data-field="client">Иванов Иван Иванович</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">+7 XXX XXX-XX-XX</td>
                        <td data-field="phone">(1) 1-11-111</td>
                        <td data-field="address">n/a</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">SSS@SSS.SS</td>
                        <td data-field="info">-</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">10.10.2012 23:00:06</td>
                    </tr>
                    <tr>
                        <td data-field="client">Петров П.П.</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">-</td>
                        <td data-field="phone">111-22-2333</td>
                        <td data-field="address">г.Москва, ул. Ленина, д. 10</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">-</td>
                        <td data-field="info">Постоянный клиент</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">28.04.2010 10:27:13</td>
                    </tr>
                    <tr>
                        <td data-field="client">Сидоров</td>
                        <td data-field="group">Клиенты</td>
                        <td data-field="mobile">-</td>
                        <td data-field="phone">-</td>
                        <td data-field="address">-</td>
                        <td data-field="contact">-</td>
                        <td data-field="email">-</td>
                        <td data-field="info">-</td>
                        <td data-field="author">Администратор</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">10.09.2016 23:43:47</td>
                    </tr>
                    <tr>
                        <td data-field="client">Кузнецов А.В.</td>
                        <td data-field="group">Партнёры</td>
                        <td data-field="mobile">+7 999 888-77-66</td>
                        <td data-field="phone">8 (495) 123-45-67</td>
                        <td data-field="address">г. Санкт-Петербург, Невский пр., 1</td>
                        <td data-field="contact">Анна</td>
                        <td data-field="email">kuznetsov@example.com</td>
                        <td data-field="info">Требует срочного ответа</td>
                        <td data-field="author">Менеджер</td>
                        <td data-field="editor">Администратор</td>
                        <td data-field="datetime">25.10.2025 14:30:22</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>


        </div>

      </div>
    </main>
  </div>
  <script src="../js/api.js"></script>
  <script src="script_provider.js"></script>

</body>
</html>